*.root{
--black: #212121;
--green: #6D9886;
--beige: #D9CAB3;
--white: #F6F6F6;

}


/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku-+Gothic+New:wght@300&display=swap');

/* HARD RESET */

* {
  margin: 0px;
  padding: 0px;
  border: none;
  box-sizing: border-box;
  font-family: 'Zen Kaku Gothic New', sans-serif;
}


/* STYLE */

body {
  width: 100%;
  background-color: var(--beige);
}

section{
  display: flex;
  justify-content: space-between;
  position: relative;
}

.photo .background{
  width: 50%;
  height: 1000px;
  position: absolute;
}

header{
  display: flex;
  justify-content: space-between;
  margin-right: 60px;
  margin-left: 60px;
  position: absolute;
}

header a {
  text-decoration: none;
  color: var(--black);
  font-size: 0.8rem;
  position: relative;
  object-fit: cover;

}

header button {
  text-decoration: none;
  color: var(--black);
  font-size: 0.8rem;
  position: relative;
  object-fit: cover;
  background-color: unset;
}

.photo .person {
  position: relative;
  width: 85%;
  height: 570px;
  margin-top: 200px;
  margin-left: 100px;
  border-radius: 30px;

}


.about {
  margin-right: 170px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 300px;
  border-color: var(--black);
  background-color: var(--white);
  border-radius: 20px;
}